body {
    /* background: rgba(#4F709C); */
    background-color: #4F709C;
    display: flex;
    padding: 10px 0px 0px 120px;
}


.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px;
}

.container .kiri {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 60%;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px rgba(0,0,0,.8);
    margin: 0px 20px 0px 0px;
    /* background: black; */
    /* box-shadow: 10px 10px rgba(0,0,0,.8); */
}

.container .kiri .atas {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.container .kiri .atas .tambah  a{
    text-decoration: none;
    color: black;
}

.container .kiri .atas .cari {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4F709C;
    width: 30%;
    height: 30px;
    border: 1px solid black;
    padding: 0px 0px 0px 10px;
    /* margin-left: 64%; */
}

.container .kiri .atas .cari input {
    border: none;
    outline: none;
    background: none;
    color: white;
}

.container .kiri table #edit {
    background: rgb(108, 196, 108);
    margin: 5px;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.container .kiri table #hapus {
    background: rgb(247, 52, 52);
    margin: 5px;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.container .page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 20px 0px;
    /* height: 100%; */
    /* border: 1px solid black; */
}

.container .page a{
    text-decoration: none;
    color: black;
    padding: 0px 100px 0px 100px;
}

.container .kiri table, th, td {
    border: 1px solid black;
}


.container .kanan {
    display: flex;
    flex-direction: column;
    /* background: black; */
    width: 40%;
    height: 90vh;
    padding: 10px;
    /* border: 1px solid black; */
}

.container .kanan .atas {
    border:  1px solid black;
    background: white;
    height: 300px;
    margin-bottom: 125px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0,0,0,.8);
}

.container .kanan .bawah {
    background: white;
    /* width: 100%; */
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0,0,0,.8);
}

@media only screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container .kiri {
        width: 90%;
    }

    .container .page {
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 100%; */
        /* margin: 20px 0px 20px 0px; */
        /* height: 100%; */
        /* border: 1px solid black; */
    }

    .container .kanan {
        width: 100%;
    }
}